<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-header bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar bar-header bar-balanced">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login/Sign up
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          Profile
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/map">
          Map
        <!-- </ion-item>
        <ion-item menu-close class="finger">
          Tea Types
        </ion-item> -->
      </ion-list>
      <div>
        <h3 style="padding-left:.25em">Legend:</h3>
        <div class="button button-clear button-light">
            白 - White Tea
        </div>
      </br>
        <div class="button button-clear button-energized">
            黃 - Yellow Tea
        </div>
      </br>
        <div class="button button-clear button-balanced">
            綠 - Green Tea
        </div>
      </br>
        <div class="button button-clear button-royal">
            烏 - Oolong Tea
        </div>
      </br>
        <div class="button button-clear button-assertive">
            紅 - Red Tea
        </div>
      </br>
        <div class="button button-clear button-dark">
            普 - Puer Tea
        </div>
      </div>
        <!-- <button class="button button-outline button-energized">
          黃
        </button>
        <button class="button button-outline button-balanced">
          綠
        </button>
        <button class="button button-outline button-royal">
          烏
        </button>
        <button class="button button-outline button-assertive">
          紅
        </button>
        <button class="button button-outline button-dark">
          普
        </button> -->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
