<ion-view view-title="Search">
  <ion-content>
    <div class="list list-inset">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Looking for a specific tea?"
      ng-model="query"
      ng-focus="buttonsVisible = false"
      ng-blur="buttonsVisible = true">
    </label>
    </div>

    <!-- Search Button Filters -->
    <div class="searchButtons animate-show-hide"
    ng-show="buttonsVisible">
      <button class="button button-outline button-light"
      ng-click="toggleFilterType(1)">
        White
      </button>
      <button class="button button-outline button-energized"
      ng-click="toggleFilterType(2)">
        Yellow
      </button>
      <button class="button button-outline button-balanced"
      ng-click="toggleFilterType(3)">
        Green
      </button>
      <button class="button button-outline button-royal"
      ng-click="toggleFilterType(4)">
        Oolong
      </button>
      <button class="button button-outline button-assertive"
      ng-click="toggleFilterType(5)">
        Red
      </button>
      <button class="button button-outline button-dark"
      ng-click="toggleFilterType(6)">
        Puer
      </button>
    </div>

    </br>

      <div class="list">

        <div
        ng-repeat="type in teaTypes">
          <div class="item item-divider">
            {{type.type}}
          </div>

          <!-- ng-repeat iterates over each type and then the subsequent div, a tag, and ng-repeat iterate for each iteration. -->
          <!-- type here is the variable created by the above ng-repeat -->

          <a class="item"
          ng-repeat="tea in getTeasByType(teas, type) | filter:query"
          ng-click="runDeckModal($index)">
            {{tea.name}}
          </a>
        </div>

      </div>



  </ion-content>
</ion-view>
