<ion-modal-view>
  <div class="list card">

    <div class="item item-avatar">

      <img src="{{currentTea.pic_url}}">
        <div class="returnArrow">
          <i class="icon ion-arrow-return-left"
          ng-click="closeLogin()"></i>
        </div>
      <h2>{{currentTea.chinese_name}}</h2>
      <!-- <p>November 05, 1955</p> -->
    </div>

    <div class="item item-body">
      <a ui-sref="app.map"
      ng-click="closeLogin()"><i class="icon ion-map"></i> - More Detail</a>
      <p>
      {{currentTea.description}}
      </p>
      <p>
        <!-- Add a click function which takes you to the lat long on the map -->
        <a ui-sref="add the proper state here" class="subdued"
        ng-click=""><i class="icon ion-star"></i> Favorite?</a>
        <!-- <a href="#" class="subdued">5 Comments</a> -->
      </p>
    </div>

  </div>
</ion-modal-view>
