/* Empty. Add your own CSS if you like */
.searchButtons {
  display: flex;
  justify-content: space-around;

}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.click-element {
  border: 1px solid black;
  opacity: 1;
  padding: 10px;
}

.finger {
  cursor: pointer;
}

#map {
  width: 100vw;
  height: 50vh;
  opacity: .8
}


/*Map Icon Resize*/
#mapIcon {
  width: 100vh;
  height: 100vh
}


/*Search view*/

.bg {
  background: url('../img/teaField.jpg') no-repeat center;
}

.teas {
  opacity: 0.75;
}

.teaTypes {
  opacity: 0.7;
}

/*Map Icon on Tea Modal*/

.returnArrow {
  display: flex;
  justify-content: flex-end;
}
