.searchButtons {
  display: flex;
  justify-content: space-around;

}
ion-content.teaTypes.scroll-content.ionic-scroll.has-header {
    display: flex;
    justify-content: center;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.click-element {
  border: 1px solid black;
  opacity: 1;
  padding: 10px;
}

.finger {
  cursor: pointer;
}

#map {
  width: 100vw;
  height: 50vh;
  opacity: .8
}


/*Map Icon Resize*/
#mapIcon {
  width: 100vh;
  height: 100vh
}


/*Search view*/

.bg {
  background: url('../img/teaField.jpg') no-repeat center;
}

.bgSplash {
  animation: 5s fadein;
  background: url('../img/teaField.jpg') no-repeat center;
}

.teas {
  opacity: 0.9;
}

.teaTypes {
  opacity: 0.9;
}

/*Map Icon on Tea Modal*/

.returnArrow {
  display: flex;
  justify-content: flex-end;
}

/*Search list fade in*/
.img-circle {
    -webkit-animation: fadein 2.5s; /* Safari and Chrome */
    -moz-animation: fadein 2.5s; /* Firefox */
    -ms-animation: fadein 2.5s; /* Internet Explorer */
    -o-animation: fadein 2.5s; /* Opera */
    animation: fadein 2.5s;
}

.fade-in {
  animation: 0.5s fadein;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Profile view styling*/
.profile {
  width: 100vw;
  height: 20vh;
}

.profileHeader {
  display: flex;
  align-items: flex-end;
  color: white;
  font-size: 2em;
}

.profileContent {
  width: 100vw;
  height: 80vh;
}
